#password-strength-meter {
    width: 100%; /* Set the width of the meter */
    height: 500px; /* Set the height of the meter */
    background-color: #f01717; /* Background color */
}

#password-strength-meter::-webkit-meter-bar {
    background-color: #f0f0f0; /* Background color for WebKit browsers (Chrome, Safari) */
}

#password-strength-meter::-webkit-meter-optimum-value {
    background-color: #4CAF50; /* Color for a strong password */
}

#password-strength-meter::-webkit-meter-suboptimum-value {
    background-color: #FFC107; /* Color for a medium-strength password */
}

#password-strength-meter::-webkit-meter-even-less-good-value {
    background-color: #FF5722; /* Color for a weak password */
}

#password-strength-meter::-webkit-meter-maximum-value {
    background-color: #F44336; /* Color for a very weak password */
}
