.textv textarea{
    height: 25vh;
    width:100%;
    background-color: #ddd9d9;
}
.btn6{
    border: none;
    height:5vh;
    cursor: pointer;
    margin-top: 15px;
    width: 20vh;
}
img {
    height: 30vh;
    width: 100%;
    padding-top: 20px;
}