.lgIn{
    margin: 20px 0 20px 0;
}
.btn6{
    border: none;
    height:4vh;
    cursor: pointer;
    margin-left:85px;
    margin-top: 20px;
    width: 20vh;
}
h1{
    text-align: center;
}
