.signcontainer{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: url(../img/moroccan-flower-dark.png)
    /* background-image: url(../img/sec_img.jpg) */

}
h2{
    color:#0c0c0b;
    margin-bottom: 50px;
    align-items: center;
}
.subcontainer{
    border-radius: 25px;
    background-color: rgb(140, 142, 143);
    width: 300px;
    height: 450px;
    padding: 0 10px 0 10px;
}
h6{
    padding: 0 10px 0 10px;
    margin: 0;
}
input{
    height:30px;
    width: 40vh;
    margin-left: 10px;
}
.cont label{
    margin-left:20px;
}

.cont h3{
    text-align: center;
}
.btn5{
    border: none;
    height:5vh;
    cursor: pointer;
    margin-left:80px;
    margin-top: 10px;
}

.sgt {
    margin:20px 0 0 20px;
}
.sgt a{
    text-decoration:none;
}
#message{
    bottom: -30px;
    color: #fff;
    font-size: 15px;
    display: none;
    text-align: center;
}
#password-requirements {
    position: absolute;
    top: 64vh;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    margin-top: 10px;
    margin-left: 15vh;
    width: 30vh;
    height: 30vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
  }

  #password-requirements p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  #password-requirements ul {
    list-style-type: none;
    padding: 0;
  }

  #password-requirements li {
    margin-bottom: 8px;
  }

  #password-requirements li::before {
    content: '\2022'; 
    color: #28a745; /* Green color */
  }

  #password-requirements li.green {
    color: #28a745;
  }

  #password-requirements li.red {
    color: #dc3545;
  }