{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Automated System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
  </head>
    <body>
      <div class="signcontainer">
        <div class="subcontainer">
          <div class="cont">
            <h1>
              Welcome
            </h1>
            <div>
              <span>Type your request here</span>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="textv">
                <textarea name="message" rows="5"></textarea>
              </div>
              <button type="submit" class="btn6">Post</button>
            </form>
          </div>
        </div>
        </div>
    </body>
</html>
  
