{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Use Authentication</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <script>
        $(document).ready(function () {
            const passwordInput = $('#id_password');
            const strengthMeter = $('#password-strength-meter');
            const strengthText = $('#password-strength-text');

            passwordInput.on('input', function () {
                const password = passwordInput.val();
                const result = zxcvbn(password);
                const score = result.score;

                // Update the password strength meter
                strengthMeter.val(score);

                // Update the text feedback
                switch (score) {
                    case 0:
                        strengthText.text('Very Weak');
                        break;
                    case 1:
                        strengthText.text('Weak');
                        break;
                    case 2:
                        strengthText.text('Fair');
                        break;
                    case 3:
                        strengthText.text('Strong');
                        break;
                    case 4:
                        strengthText.text('Very Strong');
                        break;
                    default:
                        strengthText.text('');
                }
            });
        });
    </script>
</head>
<body>
  <div class="signcontainer">
    <div class="subcontainer">
      <div class="container">
        <h2>Sign up</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Create an account</button>
        </form>
        <div class="card-footer text-muted text-center">
          Already have an account? <a href="{% url 'login' %}">Log in</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
  